body {
  margin: 0;
  background: #1C2541;
  font-family: system-ui, sans-serif;
}

h2{
    color: black;
}

.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  position: relative;
  width: 900px;
  height: 500px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,.4);
}

.login-left,
.login-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left {
  left: 0;
  background: linear-gradient(135deg,#6366f1,#8b5cf6);
  color: white;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.login-left h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.login-left p {
  margin-bottom: 20px;
}

.login-right {
  right: 0;
  background: #f5f5f5;
  z-index: 1;
}

.login-right form {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.login-right input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  background: #e6e6e6;
}

.login-button {
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #26b5a3;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-container.right-panel-active .login-left {
  transform: translateX(100%);
}

.login-container.right-panel-active .login-right {
  transform: translateX(-100%);
}

.toggle-button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.google-button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #4285F4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.google-button:hover {
  background: #357ae8;
}
